<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Pokadex</title>
</head>
<body>
    <h1>API CALLS</h1>
    <p>A simple Api for Pokadex</p>
    <p><h1>Usage:</h1></p>
    <p>1. Get Pokemons based on id</p>
    <p>2. Get Moves based on id</p>
    <p>3. Get Image based on id</p>
    <p>4. Capture and uncapture Pokemon</p>
</body>
</html>